server {
    listen {{ item.listen | default('80') }};
    server_name {{ item.domain }};

    location / {
        proxy_pass http://{{ item.lxc_ip }}:80;
        include proxy_params;
    }
}
{% if (item.ssl is defined and item.ssl)|bool or (item.ssl is not defined and nginx_ssl)|bool %}
server {
    listen {{ item.listen_ssl | default('443') }} ssl;

    ssl_certificate         {{ item.ssl_crt | default(letsencrypt_cert_path) }};
    ssl_certificate_key     {{ item.ssl_key | default(letsencrypt_key_path) }};

    server_name {{ item.domain }};

    access_log /var/log/nginx/{{ item.filename | default(filename.split(' ')[0]) }}_access.log;
    error_log  /var/log/nginx/{{ item.filename | default(filename.split(' ')[0]) }}_error.log error;

    location / {
        proxy_pass https://{{ item.lxc_ip }}:443;
        include proxy_params;
    }

    include snippets/ssl.conf;
    include snippets/redirect2https.conf;
}
{% endif %}
