server {
    listen {{ item.listen | default('80') }};
{% if (item.ssl is defined and item.ssl)|bool or (item.ssl is not defined and nginx_ssl)|bool %}
    listen {{ item.listen_ssl | default('443') }} ssl;

    ssl_certificate         {{ item.ssl_crt | default(letsencrypt_cert_path) }};
    ssl_certificate_key     {{ item.ssl_key | default(letsencrypt_key_path) }};
{% endif %}

    server_name {{ item.domain }};

    access_log /var/log/nginx/{{ item.filename | default(filename.split(' ')[0]) }}_access.log;
    error_log  /var/log/nginx/{{ item.filename | default(filename.split(' ')[0]) }}_error.log error;

{% if item.root is defined %}
    root {{ item.root }};

{% endif %}
    location / {
        proxy_pass {{ item.proxy_pass }};
        include proxy_params;
    }

{% if item.custom is defined %}
    include custom/{{ item.filename | default(filename.split(' ')[0]) }}/*.conf;
{% endif %}
{% if (item.ssl is defined and item.ssl)|bool or (item.ssl is not defined and nginx_ssl)|bool %}
    include snippets/ssl.conf;
    include snippets/redirect2https.conf;
{% endif %}
{% if item.static is defined and item.static|bool %}
    include snippets/static.conf;
{% endif %}
    include snippets/deny.conf;

{% if item.extra_parameters is defined %}
    {{ item.extra_parameters|indent(4) }}
{% endif %}
}
