server {
    listen {{ item.listen | default('80') }};
{% if (item.ssl is defined and item.ssl)|bool or (item.ssl is not defined and nginx_ssl)|bool %}
    listen {{ item.listen_ssl | default('443') }} ssl;

    ssl_certificate         {{ item.ssl_crt | default(letsencrypt_cert_path) }};
    ssl_certificate_key     {{ item.ssl_key | default(letsencrypt_key_path) }};
{% endif %}

    server_name {{ item.domain }};

    access_log /var/log/nginx/{{ item.filename | default(filename.split(' ')[0]) }}_access.log;
    error_log  /var/log/nginx/{{ item.filename | default(filename.split(' ')[0]) }}_error.log error;

{% if item.root is defined %}
    root {{ item.root }};

{% endif %}
    index {{ item.index | default('index.html index.htm') }};

    location / {
        include snippets/access-control.conf;
        try_files $uri $uri/ /index.php?$query_string;
    }

    set $FASTCGI_PASS {{ item.fastcgi_pass }};

{% if item.custom is defined %}
    include custom/{{ item.filename | default(filename.split(' ')[0]) }}/*.conf;
{% endif %}
{% if (item.ssl is defined and item.ssl)|bool or (item.ssl is not defined and nginx_ssl)|bool %}
    include snippets/ssl.conf;
    include snippets/redirect2https.conf;
{% endif %}
    include snippets/deny.conf;
}
