server {
    listen {{ item.listen | default('80') }};
{% if item.ssl is defined and item.ssl|bool %}
    listen {{ item.listen_ssl | default('443') }} ssl;

    ssl_certificate         {{ item.ssl_crt }};
    ssl_certificate_key     {{ item.ssl_key }};
{% endif %}
    server_name {{ item.domain }};

    access_log /var/log/nginx/{{ item.domain }}-access.log;
    error_log  /var/log/nginx/{{ item.domain }}-error.log error;

    root {{ item.root | default('/var/www/' + item.domain) }};
    index {{ item.index | default('index.php') }};

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
        include fastcgi_params;
        fastcgi_intercept_errors on;
        fastcgi_pass {{ item.fastcgi_pass | default('127.0.0.1:9000') }};
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param  X-Forwarded-Proto https;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
    }
{% if item.custom is defined %}
    include custom/{{ item.domain }}/*.conf;
{% endif %}
{% if item.ssl is defined and item.ssl|bool %}
    include snippets/ssl.conf;
    include snippets/redirect2https.conf;
{% endif %}
    include snippets/deny.conf;
}
